.main-header {
    padding-top: 50px;
    margin-bottom: 20px;
    background: rgb(149, 188, 210);
    width: 100%;

    .info {
        text-align: center;
        margin: 10px auto;

    }

    #img-div {
        width: 100%;
    
        #image {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        #img-caption {
            font-style: italic;
            width: 80%;
            margin-top: 10px;
        }
    }
}
